.env
.env.*
.env.txt
pycache/
downloads/
venv/
.venv/
*.py[cod]
*.log
.vscode/
.idea/
.DS_Store
.git bash commands.txt
Thumbs.db
backend.txt
frontend.txt
__pycache__/
git bash commands.txt
.static/
.static
.docusaurus
all_cookies.txt
*cookies*.txt
.claude/
node_modules/
static/kids_videos.json
speech_log.txt
speech_log.json
.pytest_cache/
data/
*.db
report.html
pytest_report.html
assets/style.css